<h1 class="page-header">Administrators</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Administradores
    <% if policy(@admins).new? %>
    <%= link_to  "+ New", new_backoffice_admin_path, class:"btn btn-default pull-right", style: "margin-top: -7px" %>
    <% end %>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table id="admins-datatable" data-source="<%= backoffice_admins_path(format: :json) %>"
      class="table table-striped table-bordered dataTable" style="width: 100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <!-- /.panel-body -->
</div>
